<%= render("user/shared/header") %>

<h2>Sign up</h2>

<p>Please fill in this form to create an account!</p>

<%= form_with(model: @user, url: user_registrations_path) do |f| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <strong><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</strong>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :email, style: "display: block" %>
    <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email" %>
  </div>

  <div>
    <%= f.label :password, style: "display: block" %>
    <%= f.password_field :password, required: true, autocomplete: "new-password" %>
  </div>

  <div>
    <%= f.label :password_confirmation, style: "display: block" %>
    <%= f.password_field :password_confirmation, required: true, autocomplete: "new-password" %>
  </div>

  <div>
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<p>
  Already have an account?
  <%= render("user/shared/links/sign_in") %> or
  <%= render("user/shared/links/reset_password") %>
</p>
