<%= render("shared/users/header") %>

<h2>Reset your password</h2>

<%= form_with(model: @user, url: password_user_path(@user)) do |f| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <strong><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</strong>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password, required: true, autocomplete: "new-password" %>
  </div>

  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, required: true, autocomplete: "new-password" %>
  </div>

  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>
