<%= render("shared/tasks/header") %>

<% if Current.task_list.task_items.exists? %>
  <p style="text-align: center"><strong>Filter:</strong> <%= link_to_task_item_filters %></p>

  <% if @task_items.present? %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="3" style="text-align: center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @task_items.each do |task_item| %>
          <tr>
            <td style="width: 100%">
              <%= link_to(
                task_item.name,
                task_list_task_item_path(Current.task_list_id, task_item, filter: params[:filter])) %>
              <div><small><%= truncate(task_item.description, length: 75) %></small></div>
            </td>
            <td><%= render("toggle_status_action", task_item:) %></td>
            <td><%= render("edit_action", task_item:) %></td>
            <td><%= render("delete_action", task_item:) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p><%= empty_task_items_message(params[:filter]) %></p>
  <% end %>
<% else %>
  <%= empty_task_items_message %>
<% end %>

<%= link_to(
  "+ New item",
  new_task_list_task_item_path(Current.task_list_id, filter: params[:filter]),
  class: "button",
  style: "width: 100%; text-align: center") %>
