<% content_for :header do %>
  <h1>Rails Way App (Settings)</h1>

  <nav>
    <%= link_to("ðŸ—‚ï¸ Items", task_list_task_items_path(Current.task_list_id)) %>

    <%= link_to("Lists", task_lists_path) %>
    |
    <%= link_to("Profile", edit_user_profiles_path, class: current_nav_item?(controller: "profiles")) %>

    <%= link_to("API token", edit_user_tokens_path, class: current_nav_item?(controller: "tokens")) %>

    <%= link_to("Log out", user_sessions_path, data: {turbo_method: :delete}) %>
  </nav>
<% end %>
