<%= render("shared/users/header") %>

<h2>Please sign in</h2>

<%= form_with(model: @user, url: user_sessions_path) do |f| %>
  <div>
    <%= f.label :email, style: "display: block" %>
    <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email" %>
  </div>

  <div>
    <%= f.label :password, style: "display: block" %>
    <%= f.password_field :password, required: true, autocomplete: "current-password" %>
  </div>

  <div>
    <%= f.submit "Log in" %>
  </div>
<% end %>

<p>
  Don't have an account?
  <%= render("shared/users/sign_up_link") %> or
  <%= render("shared/users/reset_password_link") %>
</p>
