<%= render("shared/users/header") %>

<h2>Forgot your password?</h2>

<%= form_with(model: @user, url: user_passwords_path) do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email" %>
  </div>

  <div>
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<p>
  Back to
  <%= render("shared/users/sign_in_link") %> or
  <%= render("shared/users/sign_up_link") %>
</p>
